@import './fonts.scss';
$textoAzul: #3A7BD5;
$textoBlanco: #FFF;
$fondoBlanco: #FFF;
$fondoAzul: darken(#3A7BD5, 25);
$fondoTurqueza: #00D2FF;
$fondoCeleste: #D4ECFF;
$fondoAzulSecundario: #6397D6;
*, :after, :before {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
}

/************** PARA DISPOSITIVOS PEQUEÑOS *******************/

@media screen and (min-width: 1px) and (max-width: 700px) {
  .menuNavegacion {
    display: none;
  }
  .mostrarMenuMobile {
    display: block !important;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $fondoAzul;
    ul {
      list-style: none;
      padding-left: 5px;
      margin-top: 50px;
      li {
        width: calc(92% - 5px);
        a {
          text-decoration: none;
          color: $fondoTurqueza;
        }
        padding: 10px;
        border-bottom: 1px solid rgba($color: $textoBlanco, $alpha: .5);
      }
    }
  }
  .menuNavegacionMobile {
    .icono {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 11;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      i {
        font-size: 20px;
        color: $textoBlanco;
        cursor: pointer;
      }
    }
    #menuLateral {
      display: none;
    }
  }

  /******************* MENU NAVEGACION ******************/
  .container-main {
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;

    .slide {
      position: relative;
      padding: 20vh 10%;
      min-height: 100vh;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      // box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
      transform-style: inherit;
    }

    /************************ SLIDE1 *************************/
    #slide1 {
      background: url("../img/fondoUno.svg") no-repeat;
      background-size: cover;
      z-index: 1;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        .textoDescripcion {
          order: 2;
          width: 100%;
          height: 30vh;
          align-items: center;

          .titulo {
            font-weight: 600;
            font-style: normal;
            font-size: 23px;
            color: lighten($textoAzul, 20);
          }

          .descripcion {
            position: relative;
            font-weight: 300;
            font-size: 23px;
            color: lighten($textoAzul, 20);

            button {
              margin-top: 20px;
              padding: 15px;
              width: 80%;
              font-size: 3vh;
              font-weight: 600;
              outline: none;
              border: none;
              color: $textoBlanco;
              border-radius: 8px;
              background: $textoAzul;
              cursor: pointer;
              margin: auto;
            }
          }
        }

        .imagenComputadora {
          order: 1;
          width: 100%;
          height: 40vh;
          background: url('../img/imgComputadora.svg') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }
      }
    }

    #slide1 {
      .logoEmpresa {
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        height: 100px;
        background: url('../img/logoSpredBlanco.svg') no-repeat;
        background-size: cover;
        background-position: 0% -22px;
        cursor: pointer;
      }
    }

    /************************ SLIDE1 *************************/

    /************************** SLIDE2 **************************/
    #slide2 {
      background: url("../img/fondoDos.svg") no-repeat;
      background-size: cover;
      z-index: 2;

      .container {
        width: 80%;
        margin: auto;
        height: 74vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .icono {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 30vh;
          &:nth-child(1) {
            .imgSVG {
              background: url('../img/iconoPasoUno.svg') no-repeat;
              background-size: 300%;
              width: 100%;
              height: 250px;
              background-position: 50%;
            }
          }

          &:nth-child(2) {
            .imgSVG {
              background: url('../img/iconoPasoDos.svg') no-repeat;
              background-size: 300%;
              width: 100%;
              height: 250px;
              background-position: 50%;
            }
          }

          &:nth-child(3) {
            .imgSVG {
              background: url('../img/iconoPasoTres.svg') no-repeat;
              background-size: 300%;
              width: 100%;
              height: 250px;
              background-position: 50%;
            }
          }

          section {
            font-size: 18px;
            color: $textoBlanco;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }

    /************************** FIN SLIDE2 **************************/
    /************************** SLIDE3 **************************/
    #slide3 {
      background: url("../img/fondoTres.svg") no-repeat;
      background-size: cover;
      z-index: 3;

      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .titulo {
          font-size: 20px;
          text-align: center;
          color: $fondoAzulSecundario;
          font-weight: 300;
          height: 50px;
        }

        .video {
          width: 90%;
          height: 60vh;
          border-radius: 8px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          color: $fondoAzul;
          font-size: 25px;
        }
      }
    }

    /************************** FIN SLIDE3 **************************/


    /************************ SLIDE4 *************************/
    #slide4 {
      background: url("../img/fondoCuatro.svg") no-repeat;
      background-size: cover;
      z-index: 4;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .textoDescripcion {
          order: 2;
          width: 90%;
          height: 40vh;
          align-items: flex-start;
          text-align: center;
          .titulo {
            font-weight: 600;
            font-style: normal;
            font-size: 30px;
            color: $fondoAzul;
          }

          .descripcion {
            position: relative;
            font-weight: 300;
            font-size: 20px;
            color: $fondoAzulSecundario;

            button {
              margin-top: 20px;
              padding: 15px;
              width: 200px;
              font-size: 20px;
              font-weight: 600;
              outline: none;
              border: none;
              color: $textoBlanco;
              border-radius: 8px;
              background: $textoAzul;
              cursor: pointer;
            }
          }
        }

        .imagenComputadora {
          order: 1;
          width: 200px;
          height: 100px;
          background: url('../img/imgComputadora.svg') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }
      }
    }

    #slide4 {
      .logoEmpresa {
        position: fixed;
        top: 0;
        left: 0;
        width: 20vw;
        height: 200px;
        background: url('../img/logoSpredBlanco.svg') no-repeat;
        background-size: contain;
        background-position: -35px 0%;
        cursor: pointer;
      }
    }

    /************************ SLIDE4 *************************/
    /************************** SLIDE3 **************************/
    #slide5 {
      background: url("../img/fondoCinco.svg") no-repeat;
      background-size: cover;
      z-index: 5;

      .container {
        width: 100%;
        height: 74vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
          background: url('../img/logoCandado.svg') no-repeat;
          background-size: cover;
          width: 200px;
          height: 200px;
        }

        .titulo {
          flex-grow: 1;
          font-size: 30px;
          text-align: center;
          color: $fondoAzul;
          font-weight: 600;
        }

        .descripcion {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: 300;
          text-align: center;
          width: 90%;
          color: $fondoAzulSecundario;
          font-size: 20px;
        }
      }
    }

    /************************** FIN SLIDE3 **************************/
    /************************** SLIDE6 **************************/
    #slide6 {
      background: url("../img/fondoDos.svg") no-repeat;
      background-size: cover;
      transform: scaleX(-1);
      z-index: 6;

      .logoAbajo {
        transform: scaleX(-1);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        section {
          background: url('../img/logoSpredBlanco.svg') no-repeat;
          background-size: cover;
          width: 200px;
          height: 100px;
        }
      }

      .container {
        width: 100%;
        margin: auto;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $textoBlanco;
        transform: scaleX(-1);
        border-radius: 20px;

        .imagen {
          width: 50%;
          background: url('../img/imgComputadora.svg') no-repeat;
          background-size: cover;
          height: 300px;
        }

        .formularioContacto {
          width: 90%;

          section {
            text-align: center;
            color: $fondoAzul;
            font-size: 20px;
          }

          form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input,
            textarea {
              width: 90%;
              outline: none;
              padding: 7px;
              border: 1px solid $fondoAzul;
              border-radius: 10px;
              margin-bottom: 5px;
            }

            button {
              width: 100%;
              padding: 10px;
              background: $fondoAzul;
              outline: none;
              border: none;
              border-radius: 10px;
              color: $textoBlanco;
              margin-top: 15px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

/**************** FIN *********************/
/**************** PARA EL RESTO DE DISPOSITIVOS ****************/
@media screen and (min-width: 701px) { 

  .menuNavegacionMobile {
    display: none;
  }

  .menuNavegacion {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 7;
    
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-end;
      margin-top: 30px;
      li {
         a {
           text-decoration: none;
           color: darken($textoAzul, 10);
         }
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 130px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        height: 30px;
  
        i {
          font-size: 20pt;
        }
  
        &:nth-child(1) {
           width: 50px;
        }
        &:nth-child(5) {
           border-right: 1px solid $fondoAzulSecundario;
        }
      }
    }
  }
  
  /******************* FIN MENU NAVEGACION ******************/
  .slide {
    position: relative;
    padding: 20vh 10%;
    min-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    transform-style: inherit;
  }
   
   /************************ SLIDE1 *************************/
   #slide1 {
    .logoEmpresa {
      position: absolute;
      top: -1vh;
      left: -5vh;
      width: 20vw;
      height: 150px;
      background: url(../img/logoSpredBlanco.svg) no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      cursor: pointer;
    }
     .container {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       width: 100%;
       .textoDescripcion {
         width: 55%;
         height: 40vh;
         align-items: center;
         .titulo {
           font-weight: 600;
           font-style: normal;
           font-size: 6vh;
           color: $textoAzul;
         }
         .descripcion {
           position: relative;
           font-weight: 400;
           font-size: 6vh;
           color: $fondoAzulSecundario;
           button {
             margin-top: 20px;
             padding: 10px;
             width: 200px;
             font-size: 2.5vh;
             font-weight: 600;
             outline: none;
             border: none;
             color: $textoBlanco;
             border-radius: 8px;
             background: $textoAzul;
             cursor: pointer;
           }
         }
       }
       .imagenComputadora {
         width: 45%;
         height: 70vh;
         background: url('../img/imgComputadora.svg') no-repeat;
         background-size: contain;
         background-position: 50% 50%;
       }
     }
   }
   
   /************************ SLIDE1 *************************/
   
   /************************** SLIDE2 **************************/
   #slide2 {
     .container {
       width: 100%;
       margin: auto;
       height: 50vh;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       .icono {
         width: 33%;
         flex-grow: 1;
         height: 40vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         &:nth-child(1) {
           .imgSVG {
             background: url('../img/iconoPasoUno.svg') no-repeat;
             background-size: 200%;
             width: 100%;
             height: 250px;
             background-position: 50%;
           }
         }
         &:nth-child(2) {
           .imgSVG {
             background: url('../img/iconoPasoDos.svg') no-repeat;
             background-size: 200%;
             width: 100%;
             height: 250px;
             background-position: 50%;
           }
         }
         &:nth-child(3) {
           .imgSVG {
             background: url('../img/iconoPasoTres.svg') no-repeat;
             background-size: 200%;
             width: 100%;
             height: 250px;
             background-position: 50%;
           }
         }
   
         section {
           align-self: flex-start;
           font-size: 3vh;
           color: $textoBlanco;
           font-weight: 600;
           text-align: center;
         }
       }
     }
   }
   /************************** FIN SLIDE2 **************************/
   /************************** SLIDE3 **************************/
   #slide3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .titulo {
        font-size: 6vh;
        text-align: center;
        color: $fondoAzulSecundario;
        font-weight: 300;
        height: 11vh;
      }
      
      .video {
        width: 100%;
        height: 60vh;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: $fondoAzul;
        font-size: 12vh;
      }
    }
  }

  /************************** FIN SLIDE3 **************************/


  /************************ SLIDE4 *************************/
  #slide4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      .textoDescripcion {
        width: 50%;
        height: 40vh;
        align-items: flex-start;

        .titulo {
          font-weight: 600;
          font-style: normal;
          font-size: 6.5vh;
          color: $fondoAzul;
        }

        .descripcion {
          position: relative;
          font-weight: 300;
          font-size: 3vh;
          color: $fondoAzulSecundario;

          button {
            margin-top: 20px;
            padding: 10px;
            width: 400px;
            font-size: 2.5vh;
            font-weight: 600;
            outline: none;
            border: none;
            color: $textoBlanco;
            border-radius: 8px;
            background: $textoAzul;
            cursor: pointer;
          }
        }
      }

      .imagenComputadora {
        width: 50%;
        height: 100vh;
        background: url('../img/fondoNosotros.svg') no-repeat;
        background-size: cover;
        background-position: 45% 30px;
      }
    }
  }

  /************************ SLIDE4 *************************/
  /************************** SLIDE3 **************************/
  #slide5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;

      .logo {
        background: url('../img/logoCandado.svg') no-repeat;
        background-size: contain;
        width: 300px;
        height: 300px;
      }

      .titulo {
        font-size: 5vh;
        text-align: center;
        color: $fondoAzul;
        font-weight: 600;
        height: 9vh;
        width: 80%;
      }

      .descripcion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        text-align: center;
        width: 80vh;
        color: $fondoAzulSecundario;
        font-size: 3vh;
      }
    }
  }

  /************************** FIN SLIDE3 **************************/
  /************************** SLIDE6 **************************/
#slide6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .logoAbajo {
    align-self: flex-end;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    section {
      background: url('../img/logoSpredBlanco.svg') no-repeat;
      background-size: cover;
      width: 200px;
      height: 100px;
    }
  }

  .container {
    width: 80%;
    margin: auto;
    margin-left: -90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // background: $textoBlanco;
    border-radius: 20px;

    .bloqueImagenes {
      width: 100%;
      height: 100vh;

      .people {
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;

        &:nth-child(1) {
          opacity: 0;
          background: url('../img/animation5.svg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: absolute;
          left: -80vh;
          transition: transform 2s ease-out;
        }

        &:nth-child(2) {
          opacity: 0;
          background: url('../img/animation4.svg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: absolute;
          left: -20vh;
        }

        &:nth-child(3) {
          opacity: 0;
          background: url('../img/animation3.svg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: absolute;
          left: -100vh;
        }

        &:nth-child(4) {
          opacity: 0;
          background: url('../img/animation2.svg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: absolute;
          left: -150vh;
        }

        &:nth-child(5) {
          opacity: 0;
          background: url('../img/animation1.svg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: absolute;
          left: -15vh;
        }

      }
    }

    .formularioContacto {
      width: 50%;
      z-index: 2;
      margin-left: -90vh;

      section {
        text-align: center;
        color: $fondoAzul;
        font-size: 5vh;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input,
        textarea {
          width: 70%;
          outline: none;
          padding: 7px;
          border: 1px solid $fondoAzul;
          border-radius: 10px;
          margin-bottom: 5px;
        }

        button {
          width: 300px;
          padding: 10px;
          background: $fondoAzul;
          outline: none;
          border: none;
          border-radius: 10px;
          color: $textoBlanco;
        }
      }
    }
  }
}
}
/********************** FIN ******************************/
 /******************* MENU NAVEGACION ******************/
